@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Montserrat", sans-serif;
}

.swiper-wrapper {
    padding-bottom: 1.5rem;
}

.container {
    display: flex;
    flex-direction: column;
}

.swiperContainer {
    overflow-x: hidden;
    gap: 2rem;
    width: 100%;
}

.swiper-slider {
    width: fit-content;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination .swiper-pagination-bullet {
    background-color: white;
    border: solid 2px rgb(146, 12, 187);
    height: 0.8rem;
    width: 0.8rem;
    margin-right: 6px;
    opacity: 1;
    cursor: pointer;
    border-radius: 100%;
}

.pagination .swiper-pagination-bullet-active {
    background-color: rgb(146, 12, 187);
    opacity: 1;
  }


.cont-notifications{
    width: 13rem; /*13rem */
    background-color: white;
    height: 56rem;
    position: relative;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

#btn-menu:checked ~ .cont-notifications{
    transform: translateX(14rem);
}

.cont-notifications nav{
    transform: translateY(15%);
}

.cont-notifications nav div{
    display: block;
    padding: 40px;
    color: black;
    transition: all 10ms ease;
}


.cont-notifications nav a:hover{
    border-left: 5px solid rgb(194, 87, 194);
}


.calendar-month{
    width: auto;
}
