@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Montserrat", sans-serif;
}

.swiper-wrapper {
    padding-bottom: 1.5rem;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination .swiper-pagination-bullet {
    background-color: white;
    border: solid 2px rgb(146, 12, 187);
    height: 0.8rem;
    width: 0.8rem;
    margin-right: 6px;
    opacity: 1;
    cursor: pointer;
    border-radius: 100%;
}

.pagination .swiper-pagination-bullet-active {
    background-color: rgb(146, 12, 187);
    opacity: 1;
}

.cont-notifications {
    width: 13rem; /*13rem */
    background-color: white;
    /* height: 100vh; */
    height: calc(100vh - 4rem);
    position: relative;
    /* position: fixed; */
    z-index: 10;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
    
}


.cont-notifications nav div {
    color: black;
    transition: all 10ms ease;
}

.cont-notifications nav a:hover {
    border-left: 5px solid rgb(194, 87, 194);
}

/* Clases del Componente calendario */
calendar-range {
    width: 100%;
}

calendar-month {
    --color-accent: #7048e8;
    --color-text-on-accent: #ffffff;
    width: 100%;
}





